<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plantilla.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body class="bkgd">
    <div class="container">
        <div class="">
            <img src="../static/logo.png" class="logo
            " alt="">
        </div>
        <div class="bg-opacity-10 p-3 col-9">
            <h2 class="sofia text-center">Bienvenido</h2>
            <form action="/ingresar_usuario" method="post" class="col-6 mx-auto">
                <div class="form-group">
                    {% with messages = get_flashed_messages() %}<!-- declara una variable llamada -->
                        {% if messages %}<!-- comprobar si hay algún mensaje -->
                        {% for message in messages %}<!-- recorrer los mensajes -->
                        <div class="alert alert-danger" role="alert">
                                    <p>{{message}}</p><!-- muestra cada mensaje en una etiqueta de párrafo -->
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    <div class="mb-4">
                        <label for="email_f" class="form-label">Email:</label>
                        <input type="email" name="email_f"  class="form-control" aria-describedby="passwordHelpBlock">
                    </div>
                    <div class="mb-4">
                        <label for="contrasenha_f" class="form-label">Contraseña:</label>
                        <input type="password" name="contrasenha_f"  class="form-control" aria-describedby="passwordHelpBlock">
                    </div>
                    <div>
                        <input type="submit" value="Ingresar" class="btn btn-info btn-lg">
                    </div>
                    <div class="my-3">
                        <span>Aún no tienes cuenta?<a href="/registro" class="text-white"> Registrarse</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>