<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas Brillantes</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/plantilla.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-between" id="nav" data-bs-theme="dark">
        <a href="/dashboard"><img src="../static/logo.png" class="logicon" alt=""></a>
        <div class="col-sm-9 justify-content-center">
            <h1  class="sofia">Hola {{usuario.alias}}!</h1>
        </div>
        <a href="/cerrar_sesion" class="btn btn-info">Logout</a>
    </nav>
    <div class="row cabecera">
        <div class="col">
            <form action="/crear_idea" method="post" class="col-6 mx-auto">
                <div class="form-group">
                    <div>
                        <input type="text" name="comentario_f" class="form-control" id="comentario_f" placeholder="Escribe aquí tu idea">
                    </div>
                    <div>
                        <input type="hidden" id="usuario_id_f" name="usuario_id_f" value={{usuario.id}} />
                    </div>
                </div>
                <input type="submit" value="Compartir idea!" class="btn btn-success ">
            </form>
        </div>
    </div>
    <main>
        <div class="centrar">
            {% for idea in ideas %}
            <div class="carta">
                <div class="row cuerpo">
                    <div class="col-3 text-right">
                        <p><a href="/usuario/{{idea.usuario_id}}">{{idea.get_duenho_idea(idea.usuario_id) }}</a> dice:</p>
                    </div>
                    <div class="col">
                        <p class="">{{ idea.comentario }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-right text-secondary">{{ idea.created_at }}</p>
                        <div class="row">
                            <div class="col-3 text-center"><a class="btn btn-outline-primary px-3" href="/like/{{usuario.id}}/{{idea.id}}">Me gusta  <img src="../static/like.svg"  width="20" alt=""></a></div>
                            <div class="col">
                                <p class="text-center">A <a href="/idea/{{idea.id}}">{{idea.get_cantidad_likes(idea.id)}} personas </a>les gusto esto</p>
                            </div>
                            {% if idea.usuario_id == usuario.id %}<!-- comprobar si el mensaje mostrado es del usuario en sesion -->
                            <div class="col-2">
                                <p><a href="/borrar_idea/{{idea.id}}" class="btn btn-outline-primary px-2"><img src="../static/trash.svg" width="20" alt=""></a></p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>