<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion de usuario</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plantilla.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-between" id="nav" data-bs-theme="dark">
        <a href="/dashboard"><img src="../static/logo.png" class="logicon" alt=""></a>
        <div class="col-sm-9 justify-content-center">
            <!-- <h1  class="sofia">Hola {{usuario.alias}}!</h1> -->
        </div>
        <a href="cerrar_sesion" class="btn btn-info">Logout</a>
    </nav>
    <div class="row">
        <div class="col text-center">
            <br>
            <h4>Nombre: {{usuario.nombre}}</h4>
            <h4>Alias: {{usuario.alias}}</h4>
            <h4>Email: {{usuario.email}}</h4>
        </div>
        <div class="col text-center">
            <br>
            <h4>Numero de posteos: {{ usuario.get_cantidad_posteos(usuario.id) }}</h4>
            <h4>Numero de likes: {{ usuario.get_cantidad_likes(usuario.id) }}</h4>
        </div>
    </div>
</body>
</html>