<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion de idea</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plantilla.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-between" id="nav" data-bs-theme="dark">
        <a href="/dashboard"><img src="../static/logo.png" class="logicon" alt=""></a>
        <a href="cerrar_sesion" class="btn btn-info">Logout</a>
    </nav>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="">
                        <h4><a href="/usuario/{{idea.usuario_id}}">{{ idea.get_duenho_idea(idea.usuario_id) }}</a> dice: {{ idea.comentario }}</h4>
            </div>
            <p class="text-right text-secondary">Creado el: {{ idea.created_at }}</p>
            <h4 class="text-center">Personas a las que les gusto la idea: </h4>
            <table class="table table-striped text-center table-bordered">
                <thead>
                    <tr>
                        <th>Alias</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for persona in personas %}
                    <tr>
                        <td><a href="/usuario/{{idea.usuario_id}}">{{ persona.alias }}</a></td>
                        <td>{{ persona.nombre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</body>
</html>